/* Resturaunt Stylsheet for entire website */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

header {
margin: 0 auto;
width: 100%;
border-top: 1px solid black;
border-bottom: 1px solid black;
padding-top: 20px;
padding-bottom: 20px;

}

footer {
margin: 0 auto;
width: 100%;
border-top: 1px solid black;
padding-top: 10px;
padding-bottom: 10px;

}
#menuDiv{
    background-color: tan;
}
#imageDiv{

    background-color: tan;

}
#descriptionDiv{

    background-color: tan;

}
#requiredField{

    font-weight: bold;

}
a:link{


}
a:visited{
    color: tan;

}
a:hover{

    font-weight: bold;

}
a:active{

    text-decoration: none;

}

#beverageHeading{
    width: 100%;
    text-decoration: underline;
    text-align: left;
    
}
#drinkName{
    text-align: left;
    width: 50%;

}
#drinkPrice{
    text-align: right;
    width: 50%;
}
#beverageTable{
    background-color: tan
}